<div class="col-9 mt-4 mr-auto ml-auto">
    <div class="text-center">
        <h1 class="text-warning display-4">Acerca de nosotros</h1>
        <img src="assets/img/logo.png">
    </div>
    <div class="parrafo">
        <p>MAMEX (Mecanismos de Acción MEXicana) es la empresa dedicada al comercio de productos y dispositivos electrónicos a través de toda la república.</p>
        <p>Pero, ¿qué tipo de productos?, bueno nuestras categorías son diversas y se ajustan a la modernidad del mercado, entre ellas podemos recapitular las tres que son mayormente frecuentadas:</p>
        <ul>
            <li>SmartPhones</li>
            <li>Fotografía</li>
            <li>Línea Blanca (electrodomésticos)</li>
        </ul>
        <p>Nuestro negocio se extiende por todo México y aunque somos dueños de algunas sucursales dentro del país, trabajamos muy bien la modalidad de comercio electrónico, así que no esperes para obtener tu prodcuto, ¡pídelo cuanto antes y ve cómo llega hasta tu puerta!</p>
    </div>
</div>